{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <!-- <meta charset="utf-8" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="{% static  'css/bulma.min.css'%}" />
    <link rel="stylesheet" href="{% static  'css/style.css'%}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="">
          <img
            src="{% static 'img/instagram_black.png'%}"
            width="40"
            height="28"
          />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="{% url 'index' %}" class="navbar-item">
            <img src="{% static 'img/home.png'%}" />
            Home
          </a>

          <a href="{% url 'usersearch' %}" class="navbar-item">
            <img src="{% static 'img/search.png'%}" />
            Explore
          </a>

          <a href="{% url 'inbox' %}" class="navbar-item">
            <img src="{% static 'img/message.png'%}" />
            Message {% if directs_count %}
            <span class="badge">{{directs_count}}</span>
            {% endif %}
          </a>

          <a href="{% url 'show-notifications' %}" class="navbar-item">
            <img src="{% static 'img/notification.png'%}" />
            Notification {% if count_notifications %}
            <span class="badge">{{count_notifications}}</span>
            {% endif %}
          </a>

          <a href="{% url 'profile' request.user %}" class="navbar-item">
            <img src="{% static 'img/profile.png'%}" />
            Profile - <strong>{{request.user}}</strong>
          </a>

          <a href="{% url 'newpost' %}" class="navbar-item">
            <img src="{% static 'img/newpost.png'%}" />
            New Post
          </a>

          <a href="{% url 'newstory' %}" class="navbar-item">
            <img src="{% static 'img/newstory.png'%}" />
            New Story
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <img src="{% static 'img/setting.png'%}" />
              Settings
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item"> Change Password </a>
              <a class="navbar-item"> Contact-Us </a>
              <a class="navbar-item"> Report an issue </a>
              <hr class="navbar-divider" />
              <a href="{% url 'logout' %}" class="navbar-item">
                <img src="{% static 'img/logout.png'%}" />
                Log Out
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% block banner %} {% endblock %}
    <section class="section">
      <div class="container">
        {% block content %} {% endblock %} {% block pagination %} {% endblock %}
      </div>
    </section>
  </body>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/silder.js' %}"></script>
</html>
